html{
  scroll-behavior: smooth;
}

button{
  background-color: #ffffff00;
  padding: 10px;
  width: auto;
  position: relative;
  border-color: #000;
} 

main{
    display: block;
}

.hero-background{
background-image:url(https://images.pexels.com/photos/10044788/pexels-photo-10044788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
background: no repeat fixed center;
  background-size: cover;
padding: 250px;

}

.hero-content{
  color: black;
  text-align: center;
  font-family: helvetica;
  font-size: 40px;
  font-family: 'Bungee', cursive;
  line-height: 50%
  
}

p{
  margin-top: 0;
  margin-right:10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: 'PT Sans Narrow', sans-serif;

} 
a {
  margin-top: 0;
  margin-right:5px;
  margin-bottom: 5px;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
}

body{
  background-attachment: fixed;
  background-size: cover;
}

.number {
  width: 70px;
  height: 60px;
  padding: 5px;
  background-color: #000;
  position: absolute;
  color: #fff;
  text-align: center;
  top: -25px;
  left: -25px;
  font-weight: 30px;
  line-height: 50px;
  font-family: helvetica;
  border-radius: 25px;
  font-size: 50px;
}

nav{
  text-align:center;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 30px;
  position: fixed;
  z-index: 5;
  left: -35px;
}

article {
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
}

section{
  background: no-repeat fixed center;
}

.first-article-container, .second-article-container, .third-article-container  {
  position: relative;
}

.first-article-container {
  background-color: #3BD528;
  opacity: 0.9;
}

.second-article-container {
  background-color:#10C899;
  opacity: 0.9;
}

.third-article-container {
  background-color: #C2F30C;
  opacity: 0.9;
}

.font-pair1a{
  font-family: 'Press Start 2P', cursive;
  font-size: 23px;
}

.font-pair1b{
 font-family: 'Orbitron', sans-serif;
 font-size: 30px;
}
.font-pair2a{
 font-family: 'Cardo', serif;
 font-size: 30px;
}

.font-pair2b{
 font-family: 'Old Standard TT', serif;
 font-size: 30px;
}

.font-pair3a{
 font-family: 'Barlow Condensed', sans-serif;
 font-size: 30px;
}

.font-pair3b{
 font-family: 'PT Sans Narrow', sans-serif;
 font-size: 30px;
}

.background-image1{
  background-image: url('https://images.pexels.com/photos/1476321/pexels-photo-1476321.jpeg');
  background-size:cover;
  padding: 100px;
}

.background-image2{
  background-image: url('https://images.pexels.com/photos/9941186/pexels-photo-9941186.jpeg');
  background-size:cover;
  padding: 100px;
}

.background-image3{
  background-image: url('https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg');
  background-size:cover;
padding: 100px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
}
